/* ==========================================================================
start Password strength bar style
========================================================================== */

.point {
  background: #e2bdbd;
  border-radius: 2px;
  height: 5px;
  width: 20%;
}
