:root {
  --50: #f1f5fe;
  --100: #e3ebfd;
  --200: #c2d3fa;
  --300: #a5bff8;
  --400: #89abf6;
  --500: #6c97f3;
  --600: #4d81f1;
  --700: #1152de;
  --800: #0c3693;
  --900: #061c4c;
  --950: #030e26;
}

label {
  font-weight: 500;
}

/* Table css */
.ant-table-thead .ant-table-cell {
  /* padding: 16px 10px !important; */
  background-color: var(--600) !important;
  color: var(--50) !important;
}

.ant-table {
  border: 1px solid #f0f0f0;
  /* border-radius: 8px 8px 0 0 !important; */
}

.ant-table-cell-row-hover {
  background: transparent !important;
}

.ant-table-row + .ant-table-expanded-row .ant-table-cell {
  border: 2px solid var(--300);
  border-top: none;
}

.ant-table-row:has(+ .ant-table-expanded-row) {
  box-shadow: 0px 2px 2px inset var(--300) !important;
  border-bottom: 1px solid transparent;
  background: var(--50);
  color: var(--700);
}

.ant-table-row:has(+ .ant-table-expanded-row) td:first-child {
  border-left: 2px solid var(--300);
}

.ant-table-row:has(+ .ant-table-expanded-row) td:last-child {
  border-right: 2px solid var(--300);
}

.ant-table-row:has(+ .ant-table-expanded-row[style='display: none;']) td:first-child,
.ant-table-row .ant-table-cell:first-child {
  border-left: 2px solid transparent;
}

.ant-table-row:has(+ .ant-table-expanded-row[style='display: none;']) td:last-child,
.ant-table-row .ant-table-cell:last-child {
  border-right: 2px solid transparent;
}

.ant-table-row:has(+ .ant-table-expanded-row[style='display: none;']) td {
  background: #fff;
  color: #000;
}

.ant-table-row:has(+ .ant-table-expanded-row[style='display: none;']) {
  box-shadow: none !important;
}

/* Image css */
.ant-image-img {
  object-position: center;
  object-fit: cover;
}

.ant-form-item {
  border-left: none !important;
  border-right: none !important;
}

th.ant-table-cell::before {
  content: none !important;
}

.details .ant-form-item {
  border-bottom: 1px solid #f0f0f0;
}

.checkbox-filters > span:last-child {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ant-table-content::-webkit-scrollbar {
  height: 6px;
  width: 6px;

  /* width of the entire scrollbar */
}

.ant-table-content::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border: none;
  /* color of the tracking area */
}

.ant-table-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  /* color of the scroll thumb */
  border-radius: 3px;
  /* roundness of the scroll thumb */
}

.ant-modal-title {
  color: var(--600) !important;
}
.ant-form-large .ant-form-item .ant-form-item-label > label {
  height: 25px;
}
.ant-input-lg {
  padding: 7.2px 11px;
}

.bg-wall-primary {
  box-shadow: inset 0 0 0 2000px rgba(77, 129, 241, 0.5);
  /* filter: grayscale(100%); */
}

.ant-tabs-card .ant-tabs-nav {
  margin: 0 !important;
}

.ant-tabs-card .ant-tabs-tab {
  color: #fff;
}
.ant-tabs-top.ant-tabs-card > .ant-tabs-nav::before {
  content: none;
}
.ant-segmented .ant-segmented-item-label {
  padding: 2px 24px;
}

.ant-segmented .ant-segmented-item-selected {
  color: var(--600);
}
.ant-input-affix-wrapper {
  padding: 4.2px 11px;
}
.ant-menu-vertical:not(.ant-menu-sub) > .ant-menu-item,
.ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 50px !important;
  line-height: 50px;
  margin-inline: 12px;
  width: calc(100% - 24px) !important;
  overflow: visible;
  padding-inline: calc(50% - 24px);
}

.ant-menu-inline:not(.ant-menu-sub) > .ant-menu-item,
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 50px !important;
  line-height: 50px;
  margin-inline: 12px;
  width: calc(100% - 24px);
  overflow: visible;
  padding-inline: 12px !important;
}

.ant-menu-inline.ant-menu-sub > .ant-menu-item {
  overflow: visible;
  width: calc(100% - 8px - 12px);
  margin-inline-start: 8px;
  padding-inline-start: 12px !important;
}

.ant-menu-inline.ant-menu-sub {
  margin-inline-start: 36px;
  margin-bottom: 12px;
  border-left: 2px solid #f8f0f0 !important;
}
.ant-menu .ant-menu-item .ant-menu-item-icon,
.ant-menu .ant-menu-submenu-title .ant-menu-item-icon {
  vertical-align: -0.4rem;
}
.ant-menu-item-selected::before,
.ant-menu-submenu-selected > .ant-menu-submenu-title::before {
  content: '';
  display: block;
  position: absolute;
  right: -13px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  border-radius: 6px 0 0 6px;
  height: 80%;
  background: #4d81f1;
}

.ant-menu-vertical .ant-menu-item .ant-menu-item-icon,
.ant-menu-vertical .ant-menu-submenu-title .ant-menu-item-icon {
  font-size: 20px !important;
}
.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover,
.ant-menu-light .ant-menu-submenu-title:hover:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected) {
}

.ant-menu-light .ant-menu-submenu-selected .ant-menu-submenu-title {
  background: var(--100);
}

.ant-menu .ant-menu-submenu-arrow {
  inset-inline-end: 8px;
}

.ant-segmented .ant-segmented-group {
  gap: 4px;
}
