:root {
  --50: #f1f5fe;
  --100: #e3ebfd;
  --200: #c2d3fa;
  --300: #a5bff8;
  --400: #89abf6;
  --500: #6c97f3;
  --600: #4d81f1;
  --700: #1152de;
  --800: #0c3693;
  --900: #061c4c;
  --950: #030e26;
}

label {
  font-weight: 500;
}

/* Table css */
.ant-table-thead .ant-table-cell {
  background-color: var(--600) !important;
  color: var(--50) !important;
}

.ant-table {
  border: 2px solid #f0f0f0;
  border-radius: 8px !important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
}

.ant-table-cell-row-hover {
  background: var(--50) !important;
}

.ant-table-row + .ant-table-expanded-row .ant-table-cell {
  border: 2px solid var(--300);
  border-top: none;
}

.ant-table-row:has(+ .ant-table-expanded-row) {
  box-shadow: 0px 2px 2px inset var(--300) !important;
  border-bottom: 1px solid transparent;
  background: var(--50);
  font-weight: 600;
}

.ant-table-row:has(+ .ant-table-expanded-row) td:first-child {
  border-left: 2px solid var(--300);
}

.ant-table-row:has(+ .ant-table-expanded-row) td:last-child {
  border-right: 2px solid var(--300);
}

.ant-table-row:has(+ .ant-table-expanded-row[style='display: none;']) td:first-child,
.ant-table-row .ant-table-cell:first-child {
  border-left: 2px solid transparent;
}

.ant-table-row:has(+ .ant-table-expanded-row[style='display: none;']) td:last-child,
.ant-table-row .ant-table-cell:last-child {
  border-right: 2px solid transparent;
}

.ant-table-row:has(+ .ant-table-expanded-row[style='display: none;']) td {
  background: #fff;
  font-weight: 400;
}

/* Image css */
.ant-image-img {
  object-position: center;
  object-fit: cover;
}

.ant-form-item {
  border-left: none !important;
  border-right: none !important;
}

th.ant-table-cell::before {
  content: none !important;
}

.details .ant-form-item {
  border-bottom: 1px solid #f0f0f0;
}

.checkbox-filters > span:last-child {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ant-table-content::-webkit-scrollbar {
  height: 6px;
  width: 6px;

  /* width of the entire scrollbar */
}

.ant-table-content::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border: none;
  /* color of the tracking area */
}

.ant-table-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  /* color of the scroll thumb */
  border-radius: 3px;
  /* roundness of the scroll thumb */
}

.ant-modal-title {
  color: var(--600) !important;
}
.ant-form-large .ant-form-item .ant-form-item-label > label {
  height: 25px;
}
.ant-input-lg {
  padding: 7.2px 11px;
}

.bg-wall-primary {
  box-shadow: inset 0 0 0 2000px rgba(77, 129, 241, 0.5);
  /* filter: grayscale(100%); */
}

.ant-tabs-card .ant-tabs-nav {
  margin: 0 !important;
}

.ant-tabs-card .ant-tabs-tab {
  color: #fff;
}
